<extends src='layout.html'>
  <block name='content'>
    <header class="hero">
      <div class="version">v2.0.1</div>      
      <div class="github-badge"><!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/jescalan/axis" data-count-href="/jescalan/axis/stargazers" data-count-api="/repos/jescalan/axis#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star jescalan/axis on GitHub">Star</a>
      </div>
      <img src="img/axis-logo.svg" alt="">
      <h2>A future-friendly CSS utility belt.</h2>
      <ul>
        <li><a href="https://axis.readme.io/docs/" target="_blank"><span></span>Docs</a></li>
        <li><a href="kitchen-sink"><span></span>Kitchen Sink</a></li>
        <li><a href="https://gitter.im/jescalan/axis" target="_blank"><span></span>Support</a></li>
        <li><a href="https://github.com/jescalan/axis" target="_blank"><span></span>Github</a></li>
      </ul>
    </header>
    <div class="container">
      <div class="intro">Axis is a terse, modular &amp; powerful css utility library built on top of <span><strike>Stylus</strike> </span> <a href="http://postcss.org/">PostCSS</a> and <a href="http://cssnext.io/">cssnext</a>.</div>
    </div>
    <hr>
    <div class="container">
      <div class="feature">
        <article>
          <h4>Jumpstart Styling</h4>
          <p>With the powerful settings file you can orem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </article>
        <figure>screenshot or code here</figure>
      </div>
      <div class="feature">
        <article>
          <h4>Feature #2</h4>
          <p>Dipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </article>
        <figure>screenshot or code here</figure>
      </div>
      <div class="feature">
        <article>
          <h4>Feature #3</h4>
          <p>Magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </article>
        <figure>screenshot or code here</figure>
      </div>
    </div>
    <div class="container">
      <div class="next-up">
        <p>Ready to get started?</p>
        <a href="" class="btn">Quick Start Guide</a> <a href="" class="btn outline">Get the code</a>
      </div>
    </div>
    <hr>
    <footer>
      <small>* Read more about the changes <a href="#">here</a>.</small>
    </footer>
    </block>
</extends>
