/* Overwrite Axis Defaults */

:root {
  /*--label-display: block;*/
  --label-align: left;
  --label-min-width: 200px;
  --input-min-width: 200px;
  --heading-size-multiplier: 1.2;
  --heading-font-weight: 400;
  /*Tables*/
  --table-radius: 4px;
  --table-border: var(--default-border);

  --code {
    background-color: color(var(--base-gray) lightness(96%));
    border: 1px solid color(var(--base-gray) lightness(85%));
    border-radius: var(--global-border-radius);
    color: black;
    font-family: var(--monospace);
    font-size: 2.72rem;
    padding: .08rem .3rem;
    white-space: normal;
  }
}

/* mqs */
@custom-media --small (width < 768px);
@custom-media --above-small (width >= 768px);
@custom-media --medium (width < 960px);
@custom-media --above-medium (width >= 960px);
@custom-media --large (width < 1024px);
@custom-media --above-large (width >= 1024px);
@custom-media --x-large (width < 1280px);
@custom-media --above-x-large (width >= 1280px);
@custom-media --max-width (width < 1600px);
@custom-media --above-max-width (width >= 1600px);
